---
layout: layout.liquid
title: Bracelet
permalink: /items/bracelet&ring/
---
<div class="item-page">
    <img class="Bracelet-photo" src="/images/bracelet.jpg" alt="Bracelet">

    <div class="item-text">
        <h2><strong>Bracelet & Ring</strong></h2>
        <h3>Description: An Old Leather Bracelet, and a cheap Metal Ring</h3>
        <p>Yes I know it's two items, but I consider them a pair, they hold more sentimental value than anything, the Bracelet belonged to my grandfather, who passed it down to my father, he always wore it himself, every day. Now it's mine, my father passed it down to me, a month before I left for the USA as a freshmen, it's like a family heirloom now. The ring is a cheap accessary me and my 2 closest friends bought in 2022, on a trip, two months before I would leave for USA for my first year. We bought it for $0.23. It used to be glossy and silver-esque once. I've rubbed down the cheap paint that must've been on it. I'm an international student here, these help remember home, that's about all the reason I need.</p>
    </div>
</div>


