---
layout: layout.liquid
title: 11ty Boilerplate
---

<ul class="itemlist">
  <li class="item">
    <a href="/items/wallet/">
      <img src="/images/wallet.jpg" alt="Wallet">
      <h3>Wallet</h3>
      <p>Holds almost all my essentials, thus itself is essential</p>
    </a>
  </li>
  <li class="item">
    <a href="/items/phone/">
      <img src="/images/phone.jpg" alt="Phone">
      <h3>Phone</h3>
      <p>An extension of me considering how much it is used</p>
    </a>
  </li>
  <li class="item">
    <a href="/items/bracelet&ring/">
      <img src="/images/bracelet.jpg" alt="Bracelet & Ring">
      <h3>Bracelet & Ring</h3>
      <p>More emotional value than physical</p>
    </a>
  </li>
</ul>