---
layout: layout.liquid
title: Phone
permalink: /items/phone/
---

<div class="item-page">
    <img class="Phone-photo" src="/images/phone.jpg" alt="Phone">

    <div class="item-text">
        <h2><strong>Phone</strong></h2>
        <h3>Description: My Phone, been with me since 2020, pushed through all of covid with it, still just as reliable.</h3>
        <p>It's a phone, perhaps the most important tool anyone in this day can carry, mine is all the same. I use for everything, whether i'm outside for a walk or going to class, I use it for music. If I'm leaving with friends, it's always good to have a camera to take some pictures, or a phone to make calls and text each other. Great in emergencies too, or if I get lost. Helps out way too much to not take it along every single day, every single time.</p>
    </div>
</div>



