---
layout: layout.liquid
title: Wallet
permalink: /items/wallet/
---

<div class="item-page">
    <img class="Wallet-photo" src="/images/wallet.jpg" alt="Wallet">

    <div class="item-text">    
        <h2><strong>Wallet</strong></h2>
        <h3>Description: A wallet, gifted by my sister when I turned 16, carries everything I hold valuable</h3>
        <p>Never know when I might need money. In recent days it also holds my student ID to access buildings and Sparty's and dining halls. I put my keys in there as well, so I can safekeep my room. As a bonus, credit card and some cash are not things you do not want to have in emergencies</p>
    </div>
</div>
