---
title: 11ty Boilerplate
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Everyday Carry</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>

  <header class="site-header">
    <h1 class="site-title"><strong>Everyday Carry<strong></h1>
    <nav>
      <ul>
        <li><a href="/" title="Go home">Home</a></li>
        <li><a href="/items/wallet/" title="The Valuables">Wallet</a></li>
        <li><a href="/items/phone/" title="The most convenient Tool">Phone</a></li>
        <li><a href="/items/bracelet&ring/" title="Friends & Family">Bracelet & Ring</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer class="site-footer">
    <p class="foot"><small>Everyday Carry Items</small></p>
    <small>Gurmaan Singh Sandhu</small>
  </footer>

</body>
</html>