body {
    font-family: Helvetica, sans-serif;
    color: #e8ffef;
    background: #232523;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 20px auto 40px auto;
    width: 50%;
    border-radius: 20px;
    background: #e48219;
    box-shadow: 0 9px 0px rgba(181, 104, 4, 0.6);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding:0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffc132;
    font-size: 1.5em;
    padding:16px 12px 0px 12px;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
    margin:10px;
}

.itemlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:40px;
}

.item {        
    background-color: #e48219;
    margin-bottom: 20px;     
    width:30%;
    height:50%;   
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.item img { 
    width: 250px;              
    height: 300px;            
    object-fit: cover;
    border-style:solid;
    border-width:5px;
    border-color: #B56804;         
    border-radius: 8px;
}

.item a{
    display:flex;
    flex-direction:column;        
    align-items: center;        
    gap: 20px; 
    text-decoration: none;   
    color: var(--text);        
}
.item h3 {
    margin: 0 0 5px 0;
    font-size: 1.4em;
    text-align:center;
}

.item p {
    margin: 0;
    font-size: 1.1em;
    font-weight:normal;
    text-align:center;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(34, 195, 163) 0%, rgb(253, 142, 45)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}