body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

.item a img{
    width:20%;
    height:auto;
}

h1 {
    font-size: 6em;
    letter-spacing: -2px;
}

h3{
    font-weight: normal;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

p{
    font-size: 0.9em;
    line-height: 1.6em;
    color: #EAE8FF;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}